$color-primary: #000;

$color-secondary: #666565;

$color-tertiaty: #000080;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;

$color-white: #fff;

// FONT
$default-font-size: 1.6rem;