$color-primary: #8c8c8c;

$color-secondary: #260C1A;

$color-tertiaty: #1E3231;

$color-accent: #F0A202;
$color-accent-dark: #BF4E30;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;