.container {
  max-width: 155rem;
  width: 90%;
  margin: 0 auto;
  // display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.text-box {
  // margin: 0 33rem;
  margin: 0 auto;
  margin-top: 20rem;
  max-width: 87.3rem;;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title-box {
  margin: 22rem auto;
}

.content {
  display: flex;
}
