.input-txt {
  min-height: 5rem;
  border-radius: 2px;
  padding: 1.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: $color-grey-dark;
  background: $color-grey-light-2;

//   &:focus {
//     outline: none;
//     // box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
//     border-bottom: 3px solid $color-primary;
//   }

//   &:focus:invalid {
//     border-bottom: 3px solid $color-secondary-dark;
//   }

//   &::-webkit-input-placeholder {
//     color: $color-grey-dark-2;
//   }
}
