.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200rem;
  margin: 0 auto;

  &__list {
    display: flex;
    list-style: none;
  }

  &__logo {
      letter-spacing: 3px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 3rem;
      color: $color-grey-dark;
      letter-spacing: 1px;
    }
    &:hover {
      color: $color-black;
    }
  }
}
