body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 2em;
  color: $color-primary;
  font-size: $default-font-size;
}

.paragraph {
  text-align: justify;
  color: $color-secondary;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.heading-primary {
  display: block;
  backface-visibility: hidden;
  text-transform: uppercase;
  text-align: center;
  margin: 9rem 0;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.4em;

  &--main {
    display: inline-block;
    position: relative;
    left: 56%;
  }

  &--big {
    font-size: 6.5rem;
    letter-spacing: 0.13em;
    line-height: 1.2em;
  }

  &--subtitle {
    margin: 6rem auto;
    font-weight: 300;
    letter-spacing: 0.01em;
    // display: block;
    font-size: 3rem;
    color: $color-grey-dark;
  }
}

.heading-secondary {
  // font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-weight: 300;
  font-size: 2rem;
  color: $color-grey-dark;
  letter-spacing: 0.01em;
}

hr {
  color: $color-grey-dark;
  background-color: $color-grey-dark;
  margin: 10rem auto;
}
